page-qrcode {
  div.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // div.container div {
  //   top: 50%;
  //   left: 50%;
  //   margin-right: -50%;
  //   transform: translate(-50%, -50%);
  // }
}
